/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Bree+Serif&display=swap');

:root {
background: aqua;
background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
}

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

h1 {
  font-family: Bangers, sans-serif;
  font-size: 5rem;
  margin-bottom: 5rem;
  letter-spacing: 0.25rem;
  color: white;
  text-shadow: 0.25rem 0.25rem black;
}

body {
  text-align: center;
}

a {
  font-family: Bangers, sans-serif;
}


#previousQ, #nextQ, #submit, #replay {
  font-family: Bangers, sans-serif;
  font-size: 22px;
	background-color: #279;
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
}


button:hover{
	background-color: #38a;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.btn {
  font-size: 4rem;
  padding: 2rem 0;
  width: 20rem;
  text-align: center;
  margin-bottom: 1rem;
  text-decoration: none;
  color: white;
  background: rgb(255, 94, 0);
  border-radius: 2rem;
}

.btn:hover {
  transition: 200ms;
  transform: scale(1.1);
}

.modal-btn {
  font-family: Bangers, serif;
  font-size: 4rem;
  padding: 2rem 0;
  width: 20rem;
  text-align: center;
  margin-bottom: 1rem;
  text-decoration: none;
  border-style: none;
  color: white;
  background: rgb(163, 25, 255);
  border-radius: 2rem;
  cursor: pointer;
}

.modal-btn:hover {
  transition: 200ms;
  transform: scale(1.1);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: .05rem solid rgb(255, 94, 0);
  border-radius: 2rem;
  z-index: 10;
  background-color: white;
  width: 50vw;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Bangers, sans-serif;
  color: white;
  background-color: rgb(255, 94, 0);
  border-radius: 2rem 2rem 0 0;
}

.modal-header .title {
  font-size: 2.5rem;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
}

.modal-body {
  padding: 3rem 5rem;
  font-family: 'Bree Serif', serif;
  font-size: 2.5rem;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.marvel-btn {
  font-size: 4rem;
  padding: 2rem 0;
  width: 20rem;
  text-align: center;
  margin-bottom: 1rem;
  text-decoration: none;
  color: white;
  background: rgb(255, 94, 0);
  border-radius: 2rem;
}

.marvel-btn:hover {
  transition: 200ms;
  transform: scale(1.1);
}

.dc-btn {
  font-size: 4rem;
  padding: 2rem 0;
  width: 20rem;
  text-align: center;
  margin-bottom: 1rem;
  text-decoration: none;
  color: white;
  background: rgb(127, 25, 211);
  border-radius: 2rem;
}

.dc-btn:hover {
  transition: 200ms;
  transform: scale(1.1);
}

.question{
  font-family: Bangers, sans-serif;
  font-size: 5rem;
}
.answers {
  margin-bottom: 20px;
  text-align: left;
  display: inline-block;
}
.answers label{
  display: block;
  margin-bottom: 10px;
}

.slider{
    position: absolute;
    left: 5vw;
    top: 5vh;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
  }
  .active-slide{
    opacity: 1;
    z-index: 2;
  }

  #replay {
    opacity: 1;
    z-index: 3;
  }

  .quiz-container{
    position: relative;
    height: 50vh;
    margin-top: 40px;
  }

  .slider-btn-container {
    display: inline-block;
  }

  #results {
    display: block;
  }

  /*.slider-btn-container {
    font-family: Bangers, sans-serif;
    font-size: 22px;
    background-color: #279;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  */